{% extends "baseTemplate.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <table border="1">
        <tr><td><b>Thread name</b></td></tr>
        {% for thread in threads %}
        <tr><td><a href="{{ url_for("thread_page", thread_number=thread) }}">{{ threads[thread]["thread-title"] }}</a></td></tr>
        {% endfor %}
    </table>
    <br/>
    <form action="create-new-thread" method="post">
        Name
        <input type="text" name="op-name"><br/>
        Thread title <br/>
        <input type="text" name="thread-title"><br/>
        Comment<br/>
        <textarea style="resize: both" type="text" name="thread-start-comment"></textarea><br/>
        <input type="submit" value="New thread">
    </form>
{% endblock %}