<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ thread["thread-title"] }}</title>
</head>
<body>
    <table border="1">
        <tr><font size="12"><b>{{ thread["thread-title"] }}</b></font></tr>
        <tr>
            <td><b>{{ thread["op-name"] }}</b></td>
            <td>{{ thread["thread-start-comment"] }}</td>
        </tr>
        {% for comment in thread["comments"] %}
        <tr>
            <td><b>{{ comment["user-name"] }}</b></td>
            <td>{{ comment["comment-text"] }}</td>
        </tr>
        {% endfor %}
    </table>
    <form action="./create-new-comment" method="post">
        Name
        <input type="text" name="user-name"><br/>
        Comment<br/>
        <textarea style="resize: both" type="text" name="comment-text"></textarea><br/>
        <input type="submit" value="New comment">
    </form>
</body>
</html>